.circle-image {
   display: inline-block;
   border-radius: 50%;
   overflow: hidden;
   width: 18svw;
   height: 18svw;
   border: 0.33rem solid rgba(255, 255, 255, 0.8);
}

.circle-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   -webkit-filter: brightness(77%);
   filter: brightness(77%);
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

@media (width <= 768px) {
   .circle-image {
      width: 50vmin;
      height: 50vmin;
   }
}
