p {
   font-size: calc(15px + 0.390625vw);
}

.App {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(127deg, #180025, #0b002e, #011c2e, #001923);
   background-size: 800%;
   -webkit-animation: GradientWave 13s ease infinite;
   -moz-animation: GradientWave 13s ease infinite;
   -o-animation: GradientWave 13s ease infinite;
   animation: GradientWave 13s ease infinite;
   overflow-y: hidden;
   overflow-x: hidden;
}

.container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   /* padding: 3rem 1rem 3rem 1rem; */
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-right: 1px solid rgba(255, 255, 255, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(25px);
   border-radius: 10px;
   z-index: 1;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: -40%;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.05);
   transform: skewX(-15deg);
   pointer-events: none;
}

@-webkit-keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}
@-moz-keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}
@-o-keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}
@keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}

@media (width < 420px) {
   .container {
      overflow-y: scroll;
      height: 88vh;
   }

   .carousel-indicators {
      position: fixed;
      top: 0;
      /* bottom: 0; */
   }
}

.two-col-content {
   display: flex;
   flex-direction: row;
   column-gap: 3rem;
   row-gap: 3rem;
   text-align: right;
   justify-content: center;
   align-items: center;
}

.bio-hr {
   color: white;
   border: 0.1rem solid white;
}

.circle-image {
   display: inline-block;
   border-radius: 50%;
   overflow: hidden;
   width: 18svw;
   height: 18svw;
   border: 0.33rem solid rgba(255, 255, 255, 0.8);
}

.circle-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   -webkit-filter: brightness(77%);
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

.circle-image img:hover {
   -webkit-filter: brightness(100%);
}

.icons-list {
   display: flex;
   justify-content: flex-end;
   gap: 13px;
}

.icons-list a {
   text-align: center;
   border-radius: 50%;
   color: white;
   transition: 0.5s;
}

.icons-list a:hover {
   color: #00ff87;
}

@media (width < 420px) {
   .icons-list {
      font-size: xx-large;
      justify-content: space-around;
   }

   .circle-image {
      width: 50vmin;
      height: 50vmin;
   }

   .two-col-content {
      display: flex;
      flex-direction: column-reverse;
      column-gap: 3rem;
      text-align: right;
      row-gap: 2rem;
      text-align: center;
   }
}

.submitBtn {
   background-color: #00ff87;
   color: #180025;
}
@media (width < 420px) {
   .contact-form {
      text-align: left;
   }
}

/* .container {
   height: 41vh;
   justify-content: center;
   align-items: center;
} */

.carousel-indicators {
   position: fixed;
   bottom: 0;
}

.carousel-control-prev {
   position: fixed;
   left: -33px;
}

.carousel-control-next {
   position: fixed;
   right: -33px;
}

@media (width < 420px) {
   .container {
      text-align: center;
      height: 88vmax;
      max-width: 88vmin;
      overflow-y: scroll;
   }
}

.circle-text {
   background: radial-gradient(
      ellipse at center,
      rgba(0, 129, 172, 0) 0%,
      rgba(0, 128, 172, 1) 0%,
      rgba(0, 128, 172, 0) 0%
   );
   height: 100%;
   width: 100%;
}

.circle-text p {
   font-size: 21px;
   font-style: italic;
   height: 100%;
   line-height: 1.25;
   padding: 0;
   text-align: center;
   text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.circle-text::before {
   content: '';
   float: left;
   height: 100%;
   width: 50%;
   shape-outside: polygon(
      0 0,
      98% 0,
      50% 6%,
      23.4% 17.3%,
      6% 32.6%,
      0 50%,
      6% 65.6%,
      23.4% 82.7%,
      50% 94%,
      98% 100%,
      0 100%
   );
   shape-margin: 7%;
}

.circle-text p::before {
   content: '';
   float: right;
   height: 100%;
   width: 50%;
   shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
   );
   shape-margin: 7%;
}
