p {
   font-size: calc(15px + 0.390625vw);
}

.App {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(127deg, #180025, #0b002e, #011c2e, #001923);
   background-size: 800%;
   -webkit-animation: GradientWave 13s ease infinite;
   -moz-animation: GradientWave 13s ease infinite;
   -o-animation: GradientWave 13s ease infinite;
   animation: GradientWave 13s ease infinite;
   overflow-y: hidden;
   overflow-x: hidden;
}

.container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   /* padding: 3rem 1rem 3rem 1rem; */
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-right: 1px solid rgba(255, 255, 255, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(25px);
   border-radius: 10px;
   z-index: 1;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: -40%;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.05);
   transform: skewX(-15deg);
   pointer-events: none;
}

@-webkit-keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}
@-moz-keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}
@-o-keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}
@keyframes GradientWave {
   0% {
      background-position: 0% 51%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 51%;
   }
}

@media (width < 420px) {
   .container {
      overflow-y: scroll;
      height: 88vh;
   }

   .carousel-indicators {
      position: fixed;
      top: 0;
      /* bottom: 0; */
   }
}

.two-col-content {
   display: flex;
   flex-direction: row;
   column-gap: 3rem;
   row-gap: 3rem;
   text-align: right;
   justify-content: center;
   align-items: center;
}

.bio-hr {
   color: white;
   border: 0.1rem solid white;
}

.circle-image {
   display: inline-block;
   border-radius: 50%;
   overflow: hidden;
   width: 18svw;
   height: 18svw;
   border: 0.33rem solid rgba(255, 255, 255, 0.8);
}

.circle-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   -webkit-filter: brightness(77%);
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

.circle-image img:hover {
   -webkit-filter: brightness(100%);
}

.icons-list {
   display: flex;
   justify-content: flex-end;
   gap: 13px;
}

.icons-list a {
   text-align: center;
   border-radius: 50%;
   color: white;
   transition: 0.5s;
}

.icons-list a:hover {
   color: #00ff87;
}

@media (width < 420px) {
   .icons-list {
      font-size: xx-large;
      justify-content: space-around;
   }

   .circle-image {
      width: 50vmin;
      height: 50vmin;
   }

   .two-col-content {
      display: flex;
      flex-direction: column-reverse;
      column-gap: 3rem;
      text-align: right;
      row-gap: 2rem;
      text-align: center;
   }
}
