# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Optional coverage directory used by tools like istanbul
coverage

# Optional production build
/build

# Miscellaneous
.DS_Store
Thumbs.db

# Optional environment variables
.env

# Optional lock files
package-lock.json
yarn.lock

# Optional TypeScript files
*.tsbuildinfo

# Optional IDE or editor directories
.vscode/
.idea/
client/build/ # Add to .gitignore
