.project-detail {
   display: flex;
   flex-direction: row;
   column-gap: 2rem;
   justify-content: center;
   align-items: center;
   text-align: left;
   font-size: calc(10px + 1vmin);
   padding: 1vmin;
}

.square-image {
   display: inline-block;
   width: 40vmin;
   height: 30vmin;
   border: 0.23rem solid rgba(255, 255, 255, 0.8);
   border-radius: 7px;
}

.square-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   -webkit-filter: brightness(77%);
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

.square-image img:hover {
   -webkit-filter: brightness(100%);
}

.project-header {
   color: #c0eee4;
}

.back-button {
   font-size: large;
   color: #ffffff88;
   text-align: left;
   background-color: rgba(240, 240, 240, 0);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 7px;
   cursor: pointer;
   text-decoration: none;
   transition: all 0.5s;
   width: auto;
}
.back-button:hover {
   color: #c0eeee;
}

.button-group {
   display: flex;
   flex-direction: row;
}
/* CSS */
.button-46 {
   align-items: center;
   background-color: rgba(240, 240, 240, 0.27);
   border: 1px solid #c0eee49e;
   border-radius: 13px;
   box-sizing: border-box;
   margin: 0.23rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   line-height: 28px;
   max-width: 100%;
   padding: 14px 22px;
   text-decoration: none;
   transition: all 0.2s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
}

.button-46:active,
.button-46:hover {
   outline: 0;
}

.button-46:hover {
   background-color: #c0eee488;
   border-color: rgba(0, 0, 0, 0.19);
}

@media (width < 420px) {
   .project-detail {
      flex-direction: column;
      row-gap: 1rem;
      font-size: large;
   }

   .square-image {
      width: 75vmin;
      height: 44vmin;
      /* border: 0.23rem solid rgba(255, 255, 255, 0.8); */
      border-radius: 7px;
   }
}
