.back-button {
   font-size: large;
   color: #ffffff88;
   text-align: left;
   background-color: rgba(240, 240, 240, 0);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 7px;
   cursor: pointer;
   text-decoration: none;
   transition: all 0.5s;
   width: auto;
}

.back-button:hover {
   color: #c0eeee;
}

.portfolio-container {
   max-height: 3in;
   max-width: 5in;
   padding-top: 13px;
   /* overflow-y: hidden; */
   overflow-x: scroll;
}

/* #about-container {
   overflow-y: auto;
} */

::-webkit-scrollbar {
   display: none;
}

.skill-icon {
   min-height: 5rem;
   margin: 0.88rem;
   font-size: xx-large;
}

.skill-icon:hover {
   -webkit-filter: brightness(60%);
   filter: brightness(60%);
}

.skill-icon-link {
   text-decoration: none;
}

/* .gallery-card-title {
   font-size: medium;
} */

.gallery-card {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: rgba(255, 255, 255);
   border: 1px solid #ddd;
   color: black;
   padding: 10%;
   text-align: center;
   height: 5rem;
   width: 7rem;
}

.gallery-card:hover {
   -webkit-filter: brightness(60%);
   filter: brightness(60%);
}

.form-control {
   background-color: #ffffff;
}

#contact-btn {
   background-color: rgba(255, 255, 255, 0.3);
   border: 1px solid white;
   width: 33%;
}

@media (width <= 768px) {
   #contact-btn {
      width: 100%;
   }

   .gallery-card {
      height: 4rem;
      padding: 5%;
   }

   .skill-icon {
      margin: 0.5rem;
   }

   .project-detail {
      flex-direction: column;
      row-gap: 1rem;
      font-size: large;
   }

   .square-image {
      width: 75vmin;
      height: 44vmin;
      border-radius: 7px;
   }
}

@media (width > 768px) {
   #contact-container {
      width: 5in;
   }
}

/* .gallery-card-image {
   width: 1.25in;
   height: 0.75in;
} */

/* .gallery-card-links a {
   display: inline-block;
   margin: 0 8px;
   color: #007acc;
   text-decoration: none;
} */

/* .gallery-card-technologies {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
 }
 
 .gallery-card-technologies li {
    font-size: 0.9rem;
    color: #333;
    padding: 4px 8px;
    background: #f0f0f0;
    border-radius: 4px;
 } */

/* .project-detail {
   display: flex;
   flex-direction: row;
   column-gap: 2rem;
   justify-content: center;
   align-items: center;
   text-align: left;
   font-size: calc(10px + 1vmin);
   padding: 1vmin;
}

.square-image {
   display: inline-block;
   width: 40vmin;
   height: 30vmin;
   border: 0.23rem solid rgba(255, 255, 255, 0.8);
   border-radius: 7px;
}

.square-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   -webkit-filter: brightness(77%);
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

.square-image img:hover {
   -webkit-filter: brightness(100%);
} */

/* .project-header {
   color: #c0eee4;
} */

/* .button-group {
   display: flex;
   flex-direction: row;
} */

/* .button-46 {
   align-items: center;
   background-color: rgba(240, 240, 240, 0.27);
   border: 1px solid #c0eee49e;
   border-radius: 13px;
   box-sizing: border-box;
   margin: 0.23rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   line-height: 28px;
   max-width: 100%;
   padding: 14px 22px;
   text-decoration: none;
   transition: all 0.2s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
}

.button-46:active,
.button-46:hover {
   outline: 0;
}

.button-46:hover {
   background-color: #c0eee488;
   border-color: rgba(0, 0, 0, 0.19);
} */
