.circle-image {
   border-radius: 50%;
   overflow: hidden;
   width: 270px;
   height: 270px;
   border: 0.15rem solid rgba(255, 255, 255, 0.8);
   /* border: 0.23rem solid rgb(0, 255, 135, 0.3); */
}

.circle-image img {
   width: 100%;
   height: 100%;
}

/* .circle-image:hover {
   border: 0.23rem solid rgba(255, 255, 255);
} */

.icons-list {
   display: flex;
   justify-content: space-around;
   gap: 13px;
}

/* #readme {
     position: absolute;
     top: 0;
     left: 0;
     text-decoration: underline;
     padding: 0.5rem;
     transition: transform 0.2s ease-in-out;
}

#readme:hover {
     cursor: pointer;
     transform: translateY(-3px);
}

.blinking-cursor {
     display: inline-block;
     animation: blink 1s steps(2, start) infinite;
} */

.arrow-right {
   right: 0;
}

/* =================== Smaller Screen Responsive Styles =================== */
@media (max-width: 767px) {
   .circle-image {
      margin-top: 1.3rem;
   }
}
