/* .container {
   height: 41vh;
   justify-content: center;
   align-items: center;
} */

.carousel-indicators {
   position: fixed;
   bottom: 0;
}

.carousel-control-prev {
   position: fixed;
   left: -33px;
}

.carousel-control-next {
   position: fixed;
   right: -33px;
}

@media (width < 420px) {
   .container {
      text-align: center;
      height: 88vmax;
      max-width: 88vmin;
      overflow-y: scroll;
   }
}
