.carousel-indicators {
   position: fixed;
   /* top: 0; */
   bottom: 0;
}

.carousel-control-prev {
   position: fixed;
   left: 0;
}

.carousel-control-next {
   position: fixed;
   right: 0;
}

@media (width < 420px) {
   .container {
      text-align: center;
      height: 88vmax;
      max-width: 88vmin;
      overflow-y: scroll;
   }
}
