@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   overflow-x: hidden;
}

h2 {
   width: 100%;
   color: #fff;
   text-align: center;
   margin-bottom: 20px;
}
.row {
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.row .col {
   position: relative;
   width: 100%;
   padding: 0 10px;
   margin: 30px 0 20px;
   transition: 0.5s;
}
.row .inputBox {
   position: relative;
   width: 100%;
   height: 40px;
   color: #fff;
}
.row .inputBox input,
.row .inputBox textarea {
   position: absolute;
   width: 100%;
   height: 100%;
   background: transparent;
   box-shadow: none;
   border: none;
   outline: none;
   font-size: 18px;
   padding: 0 10px;
   z-index: 1;
   color: #000;
}
.row .inputBox .text {
   position: absolute;
   top: 0;
   left: 0;
   line-height: 40px;
   font-size: 18px;
   padding: 0 10px;
   display: block;
   transition: 0.5s;
   pointer-events: none;
}
.row .inputBox input:focus + .text,
.row .inputBox input:valid + .text {
   top: -35px;
   left: -10px;
}
.row .inputBox .line {
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
   height: 2px;
   background: #fff;
   transition: 0.5s;
   border-radius: 2px;
   pointer-events: none;
}
.row .inputBox input:focus ~ .line,
.row .inputBox input:valid ~ .line {
   height: 100%;
}

.row .inputBox.textarea {
   position: relative;
   width: 100%;
   height: 100px;
   padding: 10px 0;
}
.row .inputBox textarea {
   height: 100%;
   resize: none;
}
.row .inputBox textarea:focus ~ .line,
.row .inputBox textarea:valid ~ .line {
   height: 100%;
}
.row .inputBox textarea:focus + .text,
.row .inputBox textarea:valid + .text {
   top: -35px;
   left: -10px;
}
input[type='submit'] {
   border: none;
   padding: 10px 40px;
   cursor: pointer;
   outline: none;
   background: #fff;
   color: #000;
   font-weight: 600;
   font-size: 18px;
   border-radius: 2px;
}
