.form-control {
   background-color: rgba(255, 255, 255, 0.69);
}

#contact-btn {
   background-color: rgba(255, 255, 255, 0.3);
   border: 1px solid white;
   /* border: 1px solid #00ff87; */
}

@media (width <= 768px) {
   #contact-btn {
      width: 100%;
   }
}
