.skill-icon {
   min-height: 5rem;
   margin: 0.88rem;
   font-size: xx-large;
   /* filter: grayscale(100%); */
}

.skill-icon:hover {
   -webkit-filter: brightness(60%);
   filter: brightness(60%);
}

.skill-icon-link {
   text-decoration: none;
}

@media (width <= 768px) {
   .skill-icon {
      margin: 0.5rem;
   }
   #skillsContainer {
      padding-top: 13px;
   }
}
